export SECRET_KEY_BASE=
export FPHS_RAILS_SECRET_KEY_BASE=
export FPHS_RAILS_DEVISE_SECRET_KEY=
export DB_PASSWORD=
export DB_USERNAME=restrapp

export SMTP_SERVER=email-smtp.us-east-1.amazonaws.com
export SMTP_USER_NAME=NOTSET
export SMTP_PASSWORD=NOTSET
export FPHS_E_SIGNATURE_PEPPER=thisisalongpepperforelectronicallysigneddocuments

